// _____________________________________________
// header
// _____________________________________________

header {  
  // background-color: $background-3;
  // background-image: linear-gradient(
  //   0deg,
  //   $background-1,
  //   $background-2,
  //   $background-4
  // );
  height: max-content;
  border-bottom: 1px solid $color2;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

}
// .container-header {
//   display: flex;
//   flex-direction: column;
//   max-width: 50.5rem;
//   align-items: center;
//   justify-content: center;
//   margin: 120px auto 96px;
//   overflow: hidden;
//   z-index: 7;
// }

header .notice {
  border-radius: 6px;
  background-color: $background-1;
  border: 1px solid;
  color: $color3;
  margin: 0.5rem 3rem 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 11;
}
  header .notice p {
  @include paragraphe($color1);
  white-space: nowrap;
  font-size: 1rem;
  color: $color3;
  animation: scrolling 10s linear infinite;
  margin: 0;
  max-width: 800px;
  z-index: 11;
}
@keyframes scrolling {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-120%);
  }
}

header p {
  @include paragraphe($color3);
  white-space: nowrap;
  font-size: 1rem;
  z-index: 11;
  margin-top: 120px;

}

header h1 {
  @include heading-1($color3);
  font-size: 4rem;
  margin-bottom: 1rem;
  animation: colorChange 9s linear infinite alternate;
  z-index: 11;

}

header h2 {
  @include heading-2($color1);
  font-size: 2rem;
  margin-bottom: 1rem;
  z-index: 11;
}
@keyframes colorChange {
  0% {
    color: $color1;
  }

  50% {
    color: $color3;
  }
}

header .btn-cv {
  display: flex;
  margin: 0 auto;
  z-index: 11;

}
header .btn-cv button {
  @include btn($color1, $background-1);
  margin: 0 0.5rem;
  width: 14rem;
  padding: 0.6rem 0.9rem;
}
header .btn-cv button:hover {
  @include btn($background-1, $color1);
  margin: 0 0.5rem;
  width: 14rem;
  padding: 0.6rem 0.9rem;
}

.mail {
  text-align: center;
  z-index: 11;
  margin-bottom: 96px

}
.mail a {
  @include btn($color1, $background-1);
  margin: 1rem;
  min-width: 14rem;
  padding: 0.6rem 0.9rem;
  text-decoration: none;
}
.mail a:hover {
  margin: 1rem;
  min-width: 14rem;
  padding: 0.6rem 0.9rem;
  text-decoration: none;
  border: 1px solid $color4;
}
.links-fixed {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 22%;
  left: 0;
  border: 1px solid $color3;
  text-decoration: none;
  background-color: $background-1;
  border-radius: 0 6px 6px 0;
  transition: 0.3s ease;
  box-shadow: rgba(233, 123, 38, 0.284) 0px 4px 6px;
  z-index: 3;
}
.links-fixed:hover {
  transform: scaleY(1.03);

}
.links-fixed a {
  padding: 10px;
  transition: 0.3s ease;
}
.links-fixed a:hover {
  background-color: $color1;
}
.links-fixed a img {
  width: 50px;
  transition: 0.3s ease;
}
.links-fixed a img:hover {
  transform: scale(1.04);
}

.btn-goToTheTop {
  @include btn($color1, $background-1);
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  font-size: 20px;
  padding: 0.2rem 0.5rem;
  z-index: 2000;
  font-size: 30px;
}
// bg_animation_header
.bgAnimation{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, auto));
  grid-template-rows: repeat(auto-fill, minmax(50px, auto));
  background-image: linear-gradient(
    0deg,
    $background-2,
    $background-1,
    $background-2
  );
  // filter: saturate(2);
  overflow: hidden;
  z-index: 3;
  grid-column-end: -1;
  grid-row-end: -1;
}

.colorBox{
  z-index: 2;
  filter: brightness(1.1);
  transition: 2s ease-in-out;
  position: relative;
  margin:1px;
  background: $background-1;
}

.colorBox:hover{
  background: $background-3;
  transition-duration: 0s;
}


@media screen and (max-width: 1024px) {
  // header {
  //   margin: 80px auto 80px;
  // }
  header p {
    @include paragraphe($color1);
    font-size: 1rem;
    margin-top: 80px
  }

  header h1 {
    @include heading-1($color3);
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }

  header h2 {
    @include heading-2($color1);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  header .notice {
    @include paragraphe-tablet($color1);
    padding: 10px;
    border: 1px solid;
    margin: 0.5rem 3.5rem;
    border-radius: 6px;
    background-color: $background-2;
    color: $color3;
  }

  header .notice p {
    @include paragraphe($color1);
    white-space: nowrap;
    font-size: 1rem;
    color: $color3;
    animation: scrolling 10s linear infinite;
    margin: 0;
    max-width: 600px;
  }

  header .btn-cv {
    display: flex;
    margin: 0 auto;
  }
  header .btn-cv button {
    @include btn($color1, $background-2);
    font-size: 16px;

    margin: 0.5rem;
    width: 12rem;
    padding: 0.4rem 0.7rem;
  }
  header .btn-cv button:hover {
    @include btn($color1, $color3);
    margin: 0.5rem;
    width: 12rem;
    padding: 0.4rem 0.7rem;
  }
  .mail{
    margin-bottom: 80px;
  }

  .mail a {
    @include btn($color1, $background-2);
    font-size: 16px;

    margin: 0.5rem;
    width: 15rem;
    padding: 0.4rem 0.7rem;
    text-decoration: none;
  }
  .mail a:hover {
    font-size: 16px;

    margin: 0.5rem;
    width: 14rem;
    padding: 0.4rem 0.7rem;
    text-decoration: none;
    border: 1px solid $color4;
  }
  .btn-goToTheTop {
    @include btn($color1, $background-1);
    position: fixed;
    bottom: 18px;
    right: 18px;
    padding: 0.2rem 0.5rem;
    z-index: 2000;
    font-size: 30px;
  }
}
@media screen and (max-width: 787px) {
  header {
    padding: 20px;
  }
  header p {
    @include paragraphe($color1);
    font-size: 1rem;
    margin-top: 74px
  }

  header h1 {
    @include heading-1($color3);
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  header h2 {
    @include heading-2($color1);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  header .notice {
    @include paragraphe-smartphone($color1);
    padding: 10px;
    border: 1px solid;
    margin: 0.5rem 0;
    border-radius: 6px;
    background-color: $background-2;
    color: $color3;
    width: 90vw;
  }

  header .btn-cv {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    justify-content: center;
  }
  header .btn-cv button {
    @include btn($color1, $background-2);
    font-size: 14px;
    margin: 0.2rem 0.5;
    width: 10rem;
    padding: 0.2rem 0.5rem;
  }

  header .btn-cv button:hover {
    @include btn($color1, $color3);
    margin: 0.2rem 0.5rem;
    width: 10rem;
    padding: 0.2rem 0.5rem;
    font-size: 14px;
  }
  .mail{
    margin-bottom: 56px;
  }

  .mail a {
    @include btn($color1, $background-2);
    width: 15rem;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    font-size: 14px;
  }
  .mail a:hover {
    font-size: 14px;

    width: 14rem;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    border: 1px solid $color4;
  }

  .links-fixed {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: auto;
    right: auto;
    border: 1px solid $color3;
    text-decoration: none;
    background-color: $color3;
    border-radius: 0 0 6px 6px;
    transition: 0.3s ease;
    box-shadow: rgba(233, 123, 38, 0.284) 0px 4px 6px;
  }
  .links-fixed:hover {
    transform: scaleY(1.01);
  }
  .links-fixed a {
    padding: 10px;
    transition: 0.3s ease;
  }
  .links-fixed a:hover {
    background-color: $color4;
  }
  .links-fixed a img {
    width: 30px;
    transition: 0.3s ease;
  }
  .links-fixed a img:hover {
    transform: scale(1.04);
  }
  .btn-goToTheTop {
    @include btn($color1, $background-1);
    position: fixed;
    bottom: 14px;
    right: 14px;
    text-decoration: none;
    padding: 0.1rem 0.4rem;
    z-index: 2000;
    font-size: 20px;

  }
}
