@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"); // variables
// inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// colors
// $color1: #ffffff;
// $color2: #ebebeb;
// $color3: #fec576;
// $color4: #f4a12e;
// $color5: #13c118;

// $background-1: #1f2235;
// $background-2: #313552;
// $background-3: #1f2235;
// $background-4: #2c304a;
// $background-5: #11131d;

$color1: #495057; //black
$color2: #343A40;
$color3: #212529; 
$color4: rgba(233, 123, 38, 0.984);
$color5: black;

$background-1: #F8F9FA;
$background-2: #E9ECEF;
$background-3: #DEE2E6;
$background-4: #CED4DA;
$background-5: #ADB5BD;
$background-6: #6C757D;
// $background-7: #495057;
// $background-8: #343A40;
// $background-9: #212529;
// font
$font-family-Italiana: "Italiana", serif;
$font-family-Poppins: "Poppins", sans-serif;
$font-family-inter: "Inter", sans-serif;


// placeholders
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Typography
@mixin heading-1($color) {
  color: $color;
  /* Heading-1 */
  font-family: $font-family-Italiana;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 97.2%; /* 3.645rem */
  letter-spacing: -0.1125rem;
}
@mixin heading-2($color) {
  color: $color;
  /* Heading-2 */
  font-family: $font-family-inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 117%; /* 2.34rem */
  letter-spacing: -0.06rem;
  margin-bottom: 50px;
}
@mixin heading-3($color) {
  color: $color;
  /* Heading-2 */
  font-family: $font-family-inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%; /* 2.34rem */
  letter-spacing: -0.02rem;
  margin-bottom: 1rem;
}

@mixin paragraphe($color) {
  color: $color;

  /* Body */
  font-family: $font-family-inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.5%; /* 1.36688rem */
  letter-spacing: -0.03375rem;
  margin-bottom: 20px;
}

@mixin Navigation($color) {
  color: $color;

  /* Navigation */
  font-family: $font-family-inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 1.575rem */
  letter-spacing: -0.03938rem;
}

@mixin link($color) {
  color: $color;
  font-family: $font-family-inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.575rem */
  letter-spacing: -0.03938rem;
}

// logo
@mixin logo($color, $colorPoint) {
  color: $color;
  font-family: $Lexend-Deca;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 3.125rem */
  letter-spacing: -0.0625rem;
  .logo-point {
    color: $colorPoint;
    font-size: 3.25rem;
    font-style: normal;
    letter-spacing: -0.065rem;
  }
}

// button
@mixin btn($colorParagraphe, $background) {
  color: $colorParagraphe;
  display: flex;
  padding: 0.625rem 2.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  // background: $background;
  border: 1px solid $color1;
  background: $background;
  font-family: $font-family-inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6875rem; /* 150% */
  cursor: pointer;
}


@mixin heading-1-tablet($color) {
  color: $color;
  font-family: $font-family-Italiana;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.075rem;
}

@mixin heading-2-tablet($color) {
  color: $color;
  font-family: $font-family-inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -0.04rem;
  margin-bottom: 30px;
}

@mixin heading-3-tablet($color) {
  color: $color;
  font-family: $font-family-inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.02rem;
  margin-bottom: 0.5rem;
}

@mixin paragraphe-tablet($color) {
  color: $color;
  font-family: $font-family-inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.03rem;
  margin-bottom: 15px;
}

@mixin Navigation-tablet($color) {
  color: $color;
  font-family: $font-family-inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: -0.03rem;
}

@mixin link-tablet($color) {
  color: $color;
  font-family: $font-family-inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.03rem;
}

@mixin btn-tablet($colorParagraphe, $background) {
  color: $colorParagraphe;
  display: flex;
  padding: 0.5rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.2rem;
  background: $background;
  font-family: $font-family-inter;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  cursor: pointer;
}

@mixin heading-1-smartphone($color) {
  color: $color;
  font-family: $font-family-Italiana;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.06rem;
}

@mixin heading-2-smartphone($color) {
  color: $color;
  font-family: $font-family-inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -0.03rem;
  margin-bottom: 20px;
}

@mixin heading-3-smartphone($color) {
  color: $color;
  font-family: $font-family-inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.01rem;
  margin-bottom: 0.5rem;
}

@mixin paragraphe-smartphone($color) {
  color: $color;
  font-family: $font-family-inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.02rem;
  margin-bottom: 15px;
}

@mixin Navigation-smartphone($color) {
  color: $color;
  font-family: $font-family-inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.03rem;
}

@mixin link-smartphone($color) {
  color: $color;
  font-family: $font-family-inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.02rem;
}

@mixin btn-smartphone($colorParagraphe, $background) {
  color: $colorParagraphe;
  display: flex;
  padding: 0.4rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border-radius: 0.2rem;
  background: $background;
  font-family: $font-family-inter;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  cursor: pointer;
}
